.main-header-con {
    .switch {
        background: white;
        border: 2px solid black;
        color: black !important;
        text-transform: none;
        font-size: 16px;
        &:hover {
            background: rgba(
                $color: map-get($map: $colors, $key: favourite),
                $alpha: 0.3
            );
        }
    }
    .main-header {
        @include flex-center(row, space-between, center);
        box-shadow: 0px 2px 3px var(--shadow-color);
        width: 100vw;
        height: 80px;
        position: fixed;
        top: 0;
        left: 0;
        background: map-get($map: $colors, $key: primary);
        padding: 0 100px;
        z-index: 10;
        @media screen and (max-width: $tab-end-width) {
            padding: 0 32px;
        }
        @media screen and (max-width: $mob-width) {
            padding: 0 16px;
        }
        .left {
            color: white;
            @include flex-center(row, flex-start, center);
            .logo {
                width: 100px;
            }
            hr {
                background: rgb(255, 255, 255);
                border-color: rgb(255, 255, 255);
                width: 35px;
                transform-origin: center;
                transform: rotate(90deg);
            }
            .greet {
                font-weight: 600;
                white-space: nowrap;
            }
            @media screen and (max-width: $mob-width) {
                & > hr,
                .greet {
                    display: none;
                }
            }
        }
        .menuButt {
            svg {
                font-size: 40px;
                color: white;
            }
        }
        .right-con {
            @include flex-center(row, flex-end, center);
            width: 70%;
            #right {
                width: 100%;
                @include flex-center(row, flex-end, center);
                .search {
                    border: 2px solid map-get($map: $colors, $key: primary);
                    border-radius: 5px;
                    @include flex-center(row, center, center);
                    padding: 6px 12px;
                    width: 50%;
                    background: white;
                    margin-right: 16px;
                    input {
                        width: 100%;
                        border: none;
                        outline: none;
                    }
                }
                @media screen and (max-width: $tab-width) {
                    display: none;
                    visibility: hidden;
                }
                Button {
                    margin-left: 8px;
                }
            }
            .avatar {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
            }
            .signin_butt {
                background: map-get($map: $colors, $key: secondary);
                padding: 8px 16px;
                margin-left: 16px;
                border: 2px solid black;
            }
        }
    }
    #sidemenu {
        z-index: 11;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        transform: translateX(-100%);
        transition: 0.3s;
        padding: 16px;
        width: 400px;
        @media screen and (max-width: 400px) {
            width: 100%;
        }
        background: rgb(41, 41, 41);
        color: white;
        // backdrop-filter: blur(8px);
        // -webkit-backdrop-filter: blur(8px);
        header {
            width: 100%;
            @include flex-center(row, space-between, center);
            img {
                width: 150px;
                filter: invert(1);
            }
            .back {
                transition: 0.3s;
                svg {
                    font-size: 32px;
                    color: map-get($map: $colors, $key: secondary);
                }
            }
        }
        .profile {
            margin: 32px 0 0 0;
            width: 100%;
            @include flex-center(row, space-between, center);
            background: rgb(59, 59, 59);
            cursor: pointer;
            border-radius: 5px;
            .info {
                @include flex-center(row, center, center);
                .avatar {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
            Button {
                color: map-get($map: $colors, $key: primary);
            }
        }
        .tabs {
            width: 100%;
            .switch {
                background: map-get($map: $colors, $key: primary);
                width: 100%;
                margin: 32px 0 0 0;
            }
            .tab-btn {
                @include flex-center(row, flex-start, center);
                transition: 0.3s;
                border-radius: 5px;
                margin-top: 6px;
                cursor: pointer;
                Button {
                    color: map-get($map: $colors, $key: primary);
                }
                p {
                    font-weight: 600;
                    letter-spacing: 1.2px;
                }
                &:hover {
                    background: map-get($map: $colors, $key: secondary);
                    color: black;
                }
            }
            .signin_butt {
                border: 2px solid map-get($map: $colors, $key: secondary);
                color: map-get($map: $colors, $key: secondary);
                width: 100%;
                font-size: 16px;
                margin-top: 32px;
            }
        }
        &.show {
            transform: translateX(0);
            & > .back {
                transform: rotate(360deg);
                transform-origin: center;
            }
        }
    }
}
