.trending-card {
    @include flex-center(row, flex-start, flex-start);
    padding: 16px;
    border-radius: 5px;
    box-shadow: inset 0px 2px 5px var(--shadow-color);
    &:hover {
        box-shadow: 0px 2px 5px var(--shadow-color);
    }
    .id {
        color: rgba($color: #5bbaf1, $alpha: 1);
        font-size: 30px;
        font-weight: 500;
        margin-right: 16px;
    }
    .info {
        width: 100%;
        .title {
            cursor: pointer;
            font-weight: 700;
            font-size: 20px;
            margin-bottom: 8px;
        }
        .bottom {
            width: 100%;
            @include flex-center(row, space-between, center);
            .timestamp {
                font-size: 10px;
                font-weight: 500;
            }
        }
    }
}
