.blogview {
    width: $tabWidth;
    @media screen and (max-width: $tabWidth) {
        width: 100%;
    }
    padding: 16px;
    margin: auto;
    margin-top: 80px;
    .title {
        font-size: 25px;
        font-weight: 600;
    }
    .desc {
        margin-top: 8px;
        .bottom {
            @include flex-center(row, space-between, center);
            p {
                font-size: 10px;
                margin-top: 15px;
            }
        }
    }
    #thumbnail {
        height: 350px;
        margin: 50px 0;
        overflow: hidden;
        position: relative;
        img {
            position: absolute;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
            height: 100%;
        }
    }
    .code-con {
        background: rgb(40, 40, 40);
        margin: 32px 0;
        border-radius: 8px;
        overflow: hidden;
        .segment {
            background: rgb(233, 233, 233);
            Button {
                padding: 8px;
                &.active {
                    background: rgb(40, 40, 40);
                    color: map-get($map: $colors, $key: favourite);
                    border-radius: 0px;
                }
            }
        }
    }
}
