$mob-width: 500px;
$tab-width: 750px;
$tab-end-width: 1024px;
$colors: (
    primary: rgb(0, 162, 255),
    secondary: rgb(2, 223, 57),
    favourite: rgb(252, 113, 136),
);
:root {
    --bkground-color: #ffffff;
    --bkground-color-dark: rgb(255, 255, 255);
    --color: #000000;
    --shadow-color: rgb(228, 228, 228);
}
@media (prefers-color-scheme: dark) {
    body {
        --bkground-color-dark: rgb(36, 36, 36);
        --bkground-color: #272727;
        --color: #ffffff;
        --shadow-color: rgb(75, 75, 75);
    }
}
