@import "./variables";
body,
html {
    // background: var(--bkground-color);
    // color: var(--color);
    overflow-x: hidden;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    scroll-behavior: smooth;
}
$mobWidth: 520px;
$tabWidth: 720px;
@mixin flex-center($dir: row, $justifyContent: center, $alignItems: center) {
    display: flex !important;
    flex-direction: $dir !important;
    justify-content: $justifyContent !important;
    align-items: $alignItems !important;
}
@mixin wrap_to_lines($lines: 1) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lines;
}
.fav_btn {
    color: map-get($map: $colors, $key: favourite) !important;
}
.delete-btn {
    color: red !important;
}

@import "../components/layout";
@import "../components/Loader/loader";
@import "../components/Header/_header.scss";
@import "../pages/index";
@import "../components/TrendingCard/trendingCard";
@import "../components/BlogCard/blogCard";
@import "../pages/tutorials/react/index";
@import "../components/SideMenu/sideMenu";
@import "../components/CodeMaker/codemaker";
@import "../pages/blogs/blogview";
@import "../pages/login/login";
@import "../pages/publish/publish";
@import "../pages/myfavourites/myFavourites";
@import "../components/Footer/footer";
@import "../pages/profile/profile";
