:root {
  --bkground-color: #ffffff;
  --bkground-color-dark: rgb(255, 255, 255);
  --color: #000000;
  --shadow-color: rgb(228, 228, 228);
}

@media (prefers-color-scheme: dark) {
  body {
    --bkground-color-dark: rgb(36, 36, 36);
    --bkground-color: #272727;
    --color: #ffffff;
    --shadow-color: rgb(75, 75, 75);
  }
}

body,
html {
  overflow-x: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

.fav_btn {
  color: #fc7188 !important;
}

.delete-btn {
  color: red !important;
}

.layout {
  width: 100vw;
  min-height: 100vh;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  z-index: 50;
}

.main-header-con .switch {
  background: white;
  border: 2px solid black;
  color: black !important;
  text-transform: none;
  font-size: 16px;
}

.main-header-con .switch:hover {
  background: rgba(252, 113, 136, 0.3);
}

.main-header-con .main-header {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-shadow: 0px 2px 3px var(--shadow-color);
          box-shadow: 0px 2px 3px var(--shadow-color);
  width: 100vw;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  background: #00a2ff;
  padding: 0 100px;
  z-index: 10;
}

@media screen and (max-width: 1024px) {
  .main-header-con .main-header {
    padding: 0 32px;
  }
}

@media screen and (max-width: 500px) {
  .main-header-con .main-header {
    padding: 0 16px;
  }
}

.main-header-con .main-header .left {
  color: white;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.main-header-con .main-header .left .logo {
  width: 100px;
}

.main-header-con .main-header .left hr {
  background: white;
  border-color: white;
  width: 35px;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.main-header-con .main-header .left .greet {
  font-weight: 600;
  white-space: nowrap;
}

@media screen and (max-width: 500px) {
  .main-header-con .main-header .left > hr,
  .main-header-con .main-header .left .greet {
    display: none;
  }
}

.main-header-con .main-header .menuButt svg {
  font-size: 40px;
  color: white;
}

.main-header-con .main-header .right-con {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  width: 70%;
}

.main-header-con .main-header .right-con #right {
  width: 100%;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.main-header-con .main-header .right-con #right .search {
  border: 2px solid #00a2ff;
  border-radius: 5px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  padding: 6px 12px;
  width: 50%;
  background: white;
  margin-right: 16px;
}

.main-header-con .main-header .right-con #right .search input {
  width: 100%;
  border: none;
  outline: none;
}

@media screen and (max-width: 750px) {
  .main-header-con .main-header .right-con #right {
    display: none;
    visibility: hidden;
  }
}

.main-header-con .main-header .right-con #right Button {
  margin-left: 8px;
}

.main-header-con .main-header .right-con .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-header-con .main-header .right-con .signin_butt {
  background: #f0c506;
  padding: 8px 16px;
  margin-left: 16px;
  border: 2px solid black;
}

.main-header-con #sidemenu {
  z-index: 11;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 16px;
  width: 400px;
  background: #292929;
  color: white;
}

@media screen and (max-width: 400px) {
  .main-header-con #sidemenu {
    width: 100%;
  }
}

.main-header-con #sidemenu header {
  width: 100%;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.main-header-con #sidemenu header img {
  width: 150px;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.main-header-con #sidemenu header .back {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main-header-con #sidemenu header .back svg {
  font-size: 32px;
  color: #f0c506;
}

.main-header-con #sidemenu .profile {
  margin: 32px 0 0 0;
  width: 100%;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  background: #3b3b3b;
  cursor: pointer;
  border-radius: 5px;
}

.main-header-con #sidemenu .profile .info {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.main-header-con #sidemenu .profile .info .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-header-con #sidemenu .profile Button {
  color: #00a2ff;
}

.main-header-con #sidemenu .tabs {
  width: 100%;
}

.main-header-con #sidemenu .tabs .switch {
  background: #00a2ff;
  width: 100%;
  margin: 32px 0 0 0;
}

.main-header-con #sidemenu .tabs .tab-btn {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 5px;
  margin-top: 6px;
  cursor: pointer;
}

.main-header-con #sidemenu .tabs .tab-btn Button {
  color: #00a2ff;
}

.main-header-con #sidemenu .tabs .tab-btn p {
  font-weight: 600;
  letter-spacing: 1.2px;
}

.main-header-con #sidemenu .tabs .tab-btn:hover {
  background: #f0c506;
  color: black;
}

.main-header-con #sidemenu .tabs .signin_butt {
  border: 2px solid #f0c506;
  color: #f0c506;
  width: 100%;
  font-size: 16px;
  margin-top: 32px;
}

.main-header-con #sidemenu.show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.main-header-con #sidemenu.show > .back {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.home {
  padding: 32px 100px;
  padding-top: 104px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .home {
    padding: 32px;
    padding-top: 104px;
  }
}

@media screen and (max-width: 500px) {
  .home {
    padding: 16px;
    padding-top: 96px;
  }
}

.home .search-btn {
  display: none;
}

@media screen and (max-width: 750px) {
  .home .search-btn {
    display: block;
    border: 2px solid #00a2ff;
    border-radius: 5px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    padding: 6px 12px;
    background: white;
    width: 100%;
    margin-bottom: 16px;
  }
  .home .search-btn input {
    width: 100%;
    border: none;
    outline: none;
  }
}

.home .headline {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  margin-bottom: 16px;
}

.home .headline p {
  margin-left: 8px;
}

.home .trending-cards {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 70px;
  grid-row-gap: 20px;
  margin-bottom: 50px;
}

@media screen and (min-width: 1024px) {
  .home .trending-cards {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1024px) {
  .home .trending-cards {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .home .trending-cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.home .content {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
  width: 100%;
}

.home .content .blog-cards {
  width: 60%;
  padding-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-column-gap: 70px;
  grid-row-gap: 20px;
  border-top: 2px solid #888888;
}

@media screen and (max-width: 750px) {
  .home .content .blog-cards {
    width: 100%;
  }
}

.home .content .videos {
  margin-left: 16px;
  width: 40%;
}

@media screen and (max-width: 750px) {
  .home .content .videos {
    display: none;
    visibility: hidden;
  }
}

@media screen and (min-width: 750px) {
  .home .content .videos {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    visibility: visible;
  }
}

.home .content .videos h3 {
  margin-bottom: 16px;
}

.home .content .videos iframe {
  width: 100%;
  max-width: 400px;
  height: 220px;
  margin: 8px 0;
}

.trending-card {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
  padding: 16px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 5px var(--shadow-color);
          box-shadow: 0px 2px 5px var(--shadow-color);
  cursor: pointer;
}

.trending-card .id {
  color: #5bbaf1;
  font-size: 30px;
  font-weight: 500;
  margin-right: 16px;
}

.trending-card .info {
  width: 100%;
}

.trending-card .info .title {
  font-weight: 700;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.trending-card .info .bottom {
  width: 100%;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.trending-card .info .bottom .timestamp {
  width: 100%;
  font-size: 10px;
  font-weight: 500;
}

.trending-card .info .bottom .right {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.blog-card {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  padding: 16px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 5px var(--shadow-color);
          box-shadow: 0px 2px 5px var(--shadow-color);
}

.blog-card .info {
  width: 70%;
  height: 100%;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
}

.blog-card .info .details {
  cursor: pointer;
  width: 100%;
}

.blog-card .info .details .title {
  font-weight: 700;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.blog-card .info .details .desc {
  font-size: 16px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.blog-card .info .bottom {
  width: 100%;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.blog-card .info .bottom .timestamp {
  width: 100%;
  font-size: 10px;
  font-weight: 500;
}

.blog-card .info .bottom .right {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.blog-card .info .bottom .right .edit-btn {
  color: #fc7188;
}

.blog-card .info .bottom .right .edit-btn svg {
  font-size: 20px;
}

.blog-card .thumbnail {
  margin-left: 8px;
  width: 30%;
  max-width: 180px;
  min-height: 100px;
  background: #2e2e2e;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.blog-card .thumbnail img {
  position: absolute;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.pop-content {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  padding: 8px 4px;
}

.pop-content Button {
  text-transform: capitalize;
}

.pop-content Button p {
  margin-left: 8px;
}

.pop-content Button.share {
  color: #00a2ff;
}

.pop-content Button.delete {
  color: grey;
}

.tutorial-content {
  height: 100vh;
}

.tutorial-content .content-con {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
  width: 100vw;
  height: 100vh;
  position: relative;
}

@media screen and (max-width: 750px) {
  .tutorial-content .content-con {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
}

.tutorial-content .content-con #side-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: calc(100% - 80px);
  margin-top: 80px;
  overflow-y: scroll;
  background: #00a2ff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  z-index: 10;
}

@media screen and (max-width: 750px) {
  .tutorial-content .content-con #side-menu {
    margin-top: 0;
    width: 100%;
    height: 100%;
  }
}

.tutorial-content .content-con #side-menu::-webkit-scrollbar {
  display: none;
}

.tutorial-content .content-con #side-menu header {
  padding: 16px;
  padding-bottom: 0;
  padding-right: 0;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  background: #00a2ff;
}

.tutorial-content .content-con #side-menu header p {
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}

.tutorial-content .content-con #side-menu header #menubtn-close {
  cursor: pointer;
  margin-right: 8px;
}

.tutorial-content .content-con #side-menu header #menubtn-close .btn {
  color: #fc7188;
  font-size: 32px;
}

.tutorial-content .content-con #side-menu .bg-dup {
  width: 100%;
  height: 100%;
  background: #00a2ff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.tutorial-content .content-con #side-menu.hide {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background: red;
}

.tutorial-content .content-con #main-content {
  position: absolute;
  top: 0;
  right: 0;
  width: 75%;
  height: calc(100% - 80px);
  margin-top: 80px;
  overflow-y: scroll;
  background: white;
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 750px) {
  .tutorial-content .content-con #main-content {
    width: 100%;
  }
}

.tutorial-content .content-con #main-content::-webkit-scrollbar {
  display: none;
}

.tutorial-content .content-con #main-content #menubtn-open {
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  pointer-events: none;
  visibility: hidden;
}

.tutorial-content .content-con #main-content #menubtn-open .btn {
  color: #fc7188;
  font-size: 36px;
  margin: 16px 0 0 16px;
}

.tutorial-content .content-con #main-content .content {
  padding: 16px;
  padding-top: 8px;
}

@media screen and (min-width: 1024px) {
  .tutorial-content .content-con #main-content .content {
    padding: 32px;
    padding-top: 8px;
  }
}

.tutorial-content .content-con #main-content .content h2,
.tutorial-content .content-con #main-content .content h3 {
  margin-bottom: 16px;
}

.tutorial-content .content-con #main-content .content p {
  margin: 16px 0;
  font-weight: 500;
}

.tutorial-content .content-con #main-content .content a {
  text-decoration: none;
  background: #99f3ec;
  color: black;
  padding: 4px 16px;
  font-weight: 500;
}

.tutorial-content .content-con #main-content .content img {
  width: 100%;
  margin-top: 16px;
}

.tutorial-content .content-con #main-content.extend {
  width: 100%;
}

.tutorial-content .content-con #main-content.extend > #menubtn-open {
  pointer-events: all;
  visibility: visible;
}

menu {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

menu ul {
  background: white;
  list-style: none;
}

menu ul .link {
  text-decoration: none;
  color: black;
}

menu ul .link:hover {
  text-decoration: none;
}

menu ul li.dup {
  padding: 16px;
  background: #00a2ff;
}

menu ul li {
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  padding: 16px;
  background: #00a2ff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (min-width: 750px) and (max-width: 1024px) {
  menu ul li {
    font-size: 14px;
  }
}

menu ul li.active {
  background: white;
  font-size: 18px;
}

.syntaxhighlighter {
  border-radius: 10px;
}

.blogview {
  width: 720px;
  padding: 16px;
  margin: auto;
  margin-top: 80px;
}

@media screen and (max-width: 720px) {
  .blogview {
    width: 100%;
  }
}

.blogview .title {
  font-size: 25px;
  font-weight: 600;
}

.blogview .desc {
  margin-top: 8px;
}

.blogview .desc .bottom {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.blogview .desc .bottom p {
  font-size: 10px;
  margin-top: 15px;
}

.blogview #thumbnail {
  height: 350px;
  margin: 50px 0;
  overflow: hidden;
  position: relative;
}

.blogview #thumbnail img {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 100%;
}

.blogview .code-con {
  background: #282828;
  margin: 32px 0;
  border-radius: 8px;
  overflow: hidden;
}

.blogview .code-con .segment {
  background: #e9e9e9;
}

.blogview .code-con .segment Button {
  padding: 8px;
}

.blogview .code-con .segment Button.active {
  background: #282828;
  color: #fc7188;
  border-radius: 0px;
}

.login_con {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  margin-top: 80px;
}

.login_con .login,
.login_con .signup {
  width: 520px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

@media screen and (max-width: 520px) {
  .login_con .login,
  .login_con .signup {
    width: 100%;
  }
}

.login_con .login p,
.login_con .signup p {
  margin: 20px;
  font-size: 14px;
}

.login_con .login p.title,
.login_con .signup p.title {
  font-size: 24px;
}

.login_con .login .butts,
.login_con .signup .butts {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  color: black;
  border: 2px solid black;
  border-radius: 3px;
  height: 40px;
  width: 260px;
  padding: 0 20px;
  margin: 10px;
}

.login_con .login .butts img,
.login_con .signup .butts img {
  height: 25px;
  margin-right: 10px;
}

.login_con .login form,
.login_con .signup form {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  width: 100%;
  padding: 0 22px;
}

.login_con .login form input,
.login_con .signup form input {
  outline: none;
  border: 1.5px solid dimgray;
  border-radius: 3px;
  height: 40px;
  margin: 8px;
  width: 100%;
  color: black;
  padding: 0 8px;
}

.login_con .login form .button,
.login_con .signup form .button {
  background: #eb306e;
  color: white;
  margin-top: 16px;
}

.login_con .login .toggle_sec,
.login_con .signup .toggle_sec {
  width: 100%;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.login_con .login .toggle_sec .button,
.login_con .signup .toggle_sec .button {
  color: #9d1af5;
}

.admin {
  padding: 16px;
  padding-top: 96px;
  width: 750px;
  margin: auto;
}

@media screen and (max-width: 750px) {
  .admin {
    width: 100%;
  }
}

.admin .form {
  width: 100%;
  margin: auto;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.admin .form p {
  font-size: 24px;
  text-align: left;
  width: 100%;
  margin: 8px 0;
}

.admin .form input,
.admin .form textarea {
  outline: none;
  border: 2px solid #00a2ff;
  width: 100%;
  margin: 8px 0;
  border-radius: 3px;
  padding: 8px 16px;
  background: #f8f8f8;
  color: black;
}

.admin .form .preview {
  width: 100%;
  margin-top: 16px;
}

.admin .form .preview img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.admin .form .upload_butt {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  background: rgba(68, 163, 241, 0.5);
  padding: 8px 16px;
  border: 2px dashed #44a3f1;
  border-radius: 3px;
  margin: 8px 0;
  cursor: pointer;
  font-size: 12px;
}

.admin .form .category {
  width: 100%;
}

.admin .form .category .select {
  width: 100%;
}

.admin .form .switch {
  margin-top: 24px;
}

.admin .form .note {
  font-size: 16px;
  color: tomato;
}

.admin .footer {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.admin .footer .publish {
  padding: 8px;
  background: #f0c506;
  color: white;
  letter-spacing: 1.2px;
  margin: 16px 0;
  width: 100%;
}

.admin .footer .publish:hover {
  background: #f0c506;
  color: cornsilk;
}

.myfavourites-con {
  width: 750px;
  margin: auto;
  padding-top: 80px;
}

@media screen and (max-width: 750px) {
  .myfavourites-con {
    width: 100%;
  }
}

.myfavourites-con header {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  padding: 16px 0;
}

.main-footer {
  background: #464646;
  color: white;
}

.main-footer footer {
  width: 1024px;
  margin: auto;
  padding: 32px 16px;
}

@media screen and (max-width: 1024px) {
  .main-footer footer {
    width: 100%;
  }
}

.main-footer footer .content {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.main-footer footer .content .left .logo {
  width: 200px;
  -webkit-filter: invert(1);
          filter: invert(1);
  margin-bottom: 16px;
}

.main-footer footer .content .left .social img {
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin: 8px;
}

.main-footer footer .content .right {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.main-footer footer .content .right a {
  padding: 8px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .main-footer footer .content {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .main-footer footer .content .left {
    margin-bottom: 32px;
    text-align: center;
  }
}

.main-footer footer p {
  text-align: center;
  margin-top: 32px;
}

.profile-page {
  width: 750px;
  margin: auto;
  padding: 16px;
  padding-top: 96px;
}

@media screen and (max-width: 750px) {
  .profile-page {
    width: 100%;
  }
}

.profile-page header {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.profile-page header p {
  font-size: 24px;
  font-weight: 600;
}

.profile-page .content {
  width: 100%;
}

.profile-page .content .name,
.profile-page .content .photo,
.profile-page .content .email {
  width: 100%;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  -webkit-box-align: end !important;
      -ms-flex-align: end !important;
          align-items: flex-end !important;
  margin-bottom: 50px;
}

.profile-page .content .name div,
.profile-page .content .photo div,
.profile-page .content .email div {
  width: 80%;
  margin-right: 16px;
}

.profile-page .content .name div p,
.profile-page .content .photo div p,
.profile-page .content .email div p {
  font-size: 20px;
  margin: 16px 0;
}

.profile-page .content .name div input,
.profile-page .content .photo div input,
.profile-page .content .email div input {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  color: black;
  padding: 8px 0;
}

.profile-page .content .name div div,
.profile-page .content .photo div div,
.profile-page .content .email div div {
  width: 100%;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.profile-page .content .name div div p,
.profile-page .content .photo div div p,
.profile-page .content .email div div p {
  font-size: 12px !important;
  margin-right: 100px;
}

@media screen and (max-width: 500px) {
  .profile-page .content .name div div p,
  .profile-page .content .photo div div p,
  .profile-page .content .email div div p {
    margin-right: 16px;
  }
}

.profile-page .content .name div div .avatar,
.profile-page .content .photo div div .avatar,
.profile-page .content .email div div .avatar {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media screen and (max-width: 500px) {
  .profile-page .content .name div div .avatar,
  .profile-page .content .photo div div .avatar,
  .profile-page .content .email div div .avatar {
    width: 80px;
    height: 80px;
  }
}

.profile-page .content .name .butts,
.profile-page .content .photo .butts,
.profile-page .content .email .butts {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.profile-page .content .name .butts .edit_butt,
.profile-page .content .photo .butts .edit_butt,
.profile-page .content .email .butts .edit_butt {
  width: 100%;
  background: #b8b8b8;
  margin-top: 10px;
  font-size: 10px;
}

.profile-page .content .name .butts .edit_butt label,
.profile-page .content .photo .butts .edit_butt label,
.profile-page .content .email .butts .edit_butt label {
  cursor: pointer;
}

.profile-page .content .resetPass .butt,
.profile-page .content .deleteAccount .butt {
  background: blueviolet;
  color: white;
  margin: 8px 0;
}

.profile-page .content .deleteAccount {
  margin: 16px 0;
}

.profile-page .content .deleteAccount .butt {
  background: #f83333;
}

.alert-con {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 50;
}

.alert-con .alert-con-dup {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}

.alert-con .alert {
  position: absolute;
  width: 300px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: white;
  padding: 16px;
  padding-bottom: 8px;
  border-radius: 8px;
}

@media screen and (max-width: 300px) {
  .alert-con .alert {
    width: calc(100% - 32px);
  }
}

.alert-con .alert p {
  margin: 8px 0;
}

.alert-con .alert .buttons {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  padding-top: 8px;
}

.alert-con .alert .buttons Button {
  text-transform: capitalize;
  color: #00a2ff;
}

.alert-con .alert .buttons Button:hover {
  background: #00a2ff;
  color: white;
}
/*# sourceMappingURL=globals.css.map */